{% extends 'layouts/index.twig' %}

{% block content %}
    <div class='page-header'>
        <h1>{% block contentTitle %}Редактирование {{ this.modelHumanTitle[1] }}{% endblock %}</h1>
    </div>
    <p class='text-warning'>Поля с символом <i class='fa fa-asterisk'></i> обязательны для заполнения.</p>

    {% set form = this.beginWidget('ext.mAdmin.widgets.AdminActiveFormWidget', {
        'type' : 'horizontal',
        'enableClientValidation': true,
        'clientOptions': {'validateOnSubmit': true},
        'htmlOptions' : {'enctype' : 'multipart/form-data'},
    }) %}
        {% import 'crud/form.twig' as formHelper %}

        <div class='hr hr-16'></div>
        <div class='text-warning'>
            {{ form.errorSummary(model, null, null, {'class':'errorMessage'})|raw }}
        </div>

        {{ formHelper.editForm(model, form, editFormElements) }}

        <div class="form-actions">
            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'type' : 'primary',
                'buttonType' : 'submit',
                'icon' : 'check',
                'label' : model.isNewRecord ? 'Создать '~this.modelHumanTitle[0] : 'Сохранить '~this.modelHumanTitle[0],
            }) }}

            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'icon' : 'remove',
                'label' : model.isNewRecord ? 'Не создавать' : 'Отменить изменения',
                'url' : ['/'~this.uniqueId]
            }) }}
        </div>
    {{ void(this.endWidget()) }}

{% endblock %}