{% extends 'layouts/index.twig' %}

{% block content %}
    <div class='page-header'>
        <h1>Просмотр {{ this.modelHumanTitle[1] }}</h1>
    </div>

    {% set form = this.beginWidget('ext.mAdmin.widgets.AdminActiveFormWidget', {
        'type' : 'horizontal',
    }) %}
        {% for attributeName, element in editFormElements %}
            {% if element['class'] %}

                {# Так как непонятно как отображать классы, пока будем выводить только их содержимое #}
                {{ attribute(form, 'staticTextRow', [ model, attributeName, options ])|raw }}

            {% elseif element['type'] %}

                {% set options = element['htmlOptions'] ? element['htmlOptions'] : [] %}

                {% if element['type'] != 'hidden' %}
                    {% if element['data'] is defined %}
                        {{ attribute(form, 'staticListValueRow', [ model, attributeName, element['data'], options ])|raw }}
                    {% else %}
                        {{ attribute(form, 'staticTextRow', [ model, attributeName, options ])|raw }}
                    {% endif %}
                {% endif %}

            {% elseif element['rows'] %}

                {{ formHelper.editForm(attribute(model, attributeName), form, element['rows']) }}

            {% else %}
                {{ element|raw }}
            {% endif %}
        {% endfor %}

        <div class="form-actions">
            {{ widget('ext.mAdmin.widgets.AdminButtonWidget', {
                'icon' : 'fa fa-arrow-left',
                'label' : 'Вернуться назад',
                'url' : ['/'~this.uniqueId]
            }) }}
        </div>
    {{ void(this.endWidget()) }}
{% endblock %}